cache:
  - node_modules
test_script:
  - ps: Install-Product node 12
  - npm ci
  - npm install -g codecov c8 nyc
  - c8 npm test
  - c8 report --reporter=text-lcov > coverage.lcov
  - codecov
  - ps: Install-Product node 10
  - c8 npm test
  - c8 report --reporter=text-lcov > coverage.lcov
  - codecov
  - ps: Install-Product node 8
  - nyc npm test
  - codecov
build: off
