environment:
  matrix:
    - nodejs_version: '9'
    - nodejs_version: '8'
    - nodejs_version: '7'
    - nodejs_version: '6'
install:
  - ps: Install-Product node $env:nodejs_version
  - node --version
  - npm --version
  - npm install
  - npm install -g nyc eslint
test_script:
  - npm run test_coverage
on_success:
  - npm install -g codecov
  - codecov
build: off
