language: node_js
node_js:
- '10'
- '8'
- '6'
before_install:
- 'export GREENKEEPER=$([[ $(node -v) == v10.* ]]; echo $?)'
- if [[ ${GREENKEEPER} -eq 0 ]]; then
  npm install -g greenkeeper-lockfile;
  fi
install:
- npm install
before_script:
- if [[ ${GREENKEEPER} -eq 0 ]]; then
  greenkeeper-lockfile-update;
  fi
script:
- npm run test
- npm run lint
after_success:
- if [[ ${GREENKEEPER} -eq 0 ]]; then
  greenkeeper-lockfile-upload;
  fi
- npm install -g codecov
- codecov
deploy:
  provider: npm
  email: kei.itof@gmail.com
  api_key:
    secure: cVgqB8z31SwW6HbK2M1zEdP7Cz9Wt3Pvnv1UqgtmGYgZkrDvlTFtKAfZ+VpIF4Q+qZb7EiO3M40IJ3R1jZ1VyTtT2I72SpFirxpYfvW106votdBgiVwhhuZXt+LR/Y9n6dNuo6MaUXSHDzNyIDraIr/Gzk9hIRdnZD8/jg0zlEBP+ffzgfXXIw9ySiZYyb+6SaFNGL/bFpv9lM657qhqEPUTS4xru4EeImlqX9RAN0Jj/FjwSJ5lO0o12zPvhosxwvuNrfKtb4vujJIwntTGiAOqgmlW8MWl2InFxjDj0TqtxW68kY5aFqogruGvAYvY9OqoxTRIBo+lRIqe/BCu3T8G97rfhu/DFE0f0hsJzOJN/JE+5/68vD28wSPZBLWjnsfWHef6aB2Lxkh7jmx6ICDi4N1TOezXnZyZrc9Og0FTfu8PL/MPqkknSe5yWItg7JdTO9NQdeJrVmvmq20vI4bGLuPe/7p3SkY7LPCdyGxCuBWHnKuVQI8wh9jViyG3BCe0READBpixyESsVXD0uQROr1eedRVAbixk7EHBF7bzIiBypMf3YRoDVD7b1UQhJLhq2biB5Yg7nGMqO/Xl5crNa6qPUymltxvK0yELiSCSMbQhu0AAltWMR1EGL/eSP5jfzheE/nGAZFAm+K6JXvUClxHcUXX4tqKkGZUvNvk=
  on:
    tags: true
    repo: kei-ito/rollup-plugin-glob-import
env:
  global:
    secure: Szhcv6WNRE/mtDHaoDOo+ZeDDFScyGa5FK1YSvqY2mIZJ0rb/PUdMn7OH3IymhyG/aghzvlXiZAyyslsEorOUxli/OGkdYzwVNdnRc/iBo+qbsTkHjYCTgz0oTPKjtBiD5zVrJhhzD7l6b1sCl/v9cbSswzsjK3JmV0RFOjBCqZrVqgGryTIj0eosbfojCHHb7qaLzLLo2bkfnpPmAPQN4onDAL5swbiECT3RrI3vjzhhSwpM2axPFe/QsYLdIaIgKkb5yyXrdhBPGIiv/OUzRJInMS7TEoxhMcZvFsBCf2Rolt3N8DNIa3wd7n2aB2M6tF6+XwNwBOyVMI2oJ/7uUes+KqvpogmtjmddjWPyXAyjGH2Li/7tgF4chsmgYF45jPvMEGNfU7yQdjl2jlwCdFy+5EUgJLmHmfEV5pgt0U9QjZ0s+AuQDUKuV6RfRLqHWcspC4FBpvMYxv+eaIDIsMrB48hg7sutfVODigQjmHQmVykK+fmePifmMXTPu2zSgg0ap9oEps9ClCOP88OkX+SjunEKSGhpbH7KmG7SnW9pDjZH/qLBQIy+mMPZa3y+4TmLU+mePs2sxUsQxjlKR5PLHme+aLaD3SDFiwMI/lCA8pFkiynxc6nL8SYxMosPuPYPNOMY0eJkPWhJTBQaukRgd0pQuQhMi0t8f6brFE=
